body {
  background-color: rgb(70, 66, 66);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 40px 0;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0 12px;
  background-color: antiquewhite;
}

#container {
  display: grid;
  background-color: rgb(22, 23, 32);
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
  margin: 0 auto;
  height: 450px;
  width: 450px;
  justify-content: center;
  align-items: center;
  min-width: auto;
  min-height: auto;
  grid-gap: 2px;
  
 
}
#displayNum {
/* grid-area: header header; */
box-sizing: border-box;
width: 100%;

background-color: aliceblue;
border: 2px solid black;
/* margin-bottom: auto; */
margin-bottom: 0px;
height: 80px; 
 width: 450px;
 text-align: end;
}
  #calcBtn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  /* grid-template-areas: "header header"; */
  width: 80px;
  padding: 5px;
  margin-left: 40px;
}

button {
  height: 80px;
  width: 80px;
}

